.article_container
  .container
    .article_lists.clearfix
      if posts.length
        each value, index  in posts.data
          .article_items.yu13_card_5.yu13_translatey_3
            .article_pic
              a(href=url_for(value.path)) 
                img.lazyload(src=content_img(value.content), alt="")
            .article_content
              h2.title.yu13_clamp_2
              h3
               a(href=url_for(value.path), title='')= value.title 
              .article_category
                 .sort
                  != partial('./posts/sort',{ categories: value.categories },{ cache: false  })
              .article_bottom
               .article_author
                include ./posts/avatar
                include ./posts/author
               .time
                 i.yufont.icon-shijian
                 span= date(value.updated, 'YYYY-DD-MM')