// normalize
@import '_normalize/normalize.css';
@import '_global/main.css';
@import '_global/header.css';
@import '_global/index.css';
@import '_global/article.css';
@import '_global/sidebar.css';
@import '_global/sort.css';
@import '_global/footer.css';
@import '_global/media.css';
