extends includes/layout.pug
block content
  - var title = '标签 - '+page.tag
  - var info = '相关文章累计 ' + page.posts.length + ' 篇文章'
  != partial('./includes/mixins/page/top-bg',{title :title, info: info}, {cache: false})
  != partial('./includes/mixins/posts',{posts: page.posts},{ cache: false  })
  div.page_container
   .lists_nav
    != paginator({ prev_text: '<i class="fa fa-angle-left"></i>',next_text: '<i class="fa fa-angle-right"></i>', escape: false })
