- var top_img = '/assets/imgs/top_bg.jpg'
- var top_bg = `background-image: url('${url_for(top_img)}')`

.article_topbg(style=top_bg)
  .topbg_container
    h1.title= page.title
    .info
      .article_meta
        .left
          span.avatar
            != partial('./mixins/posts/avatar',{},{ cache: true })
            include ./mixins/posts/author
          span
            i.yufont.icon-yingyong
            != partial('./mixins/posts/categories',{ categories: page.categories },{ cache: false  })
          span
            i.yufont.icon-rili
            !=  date(page.updated, 'YYYY-M-D') 