.log_container {
  transition: all 0.3s;
  animation: fade-out 1s;
}
.article_main .bread_guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}

.post_article .text {
  position: relative;
  top: -1px;
}

.article_main .content {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
}

.article-header > h1 {
  font-size: 1.5rem;
  margin: 30px 0;
}

.article-header > h1 > a {
  color: #333;
  word-break: break-all;
}

.article_meta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.article_meta a {
  color: #fff;
}

.article_meta > .left,
.article_meta > .right {
  display: flex;
  align-items: center;
}

.article_meta > .left span {
  margin: 0 5px;
}

.article_meta > .left span .yufont {
  margin-right: 4px;
}

.article_meta > .left img {
  position: relative;
  top: -1px;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border-radius: 50px;
  transition: transform 0.5s ease-out;
}

.article_meta .author {
  margin-right: 10px;
}

.article_meta > .right span {
  margin: 0 10px;
}

.article_meta > .right .icon-rili {
  font-size: 12px;
}

.log-like:hover {
  cursor: pointer;
  color: red;
}

.content_text blockquote {
  position: relative;
  margin: 30px 0;
  padding: 10px 45px;
  border-radius: 3px;
  background-color: #f8f8fa;
}

blockquote {
  margin: 0 0 20px;
  padding: 12px 15px;
  border-left: 3px solid #49b1f5;
  background-color: rgba(73, 177, 245, 0.1);
  color: #6a737d;
}

.content_text blockquote p {
  line-height: 26px;
}
.content_text p > code {
  background-color: #f7f7f9;
  color: var(--hover_color);
  padding: 2px 4px;
}

.content_text h2,
.content_text h3,
.content_text h4,
.content_text h5,
.content_text h6 {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.3;
  cursor: pointer;
  transition: all 0.5s;
}

.content_text h2:hover,
.content_text h3:hover,
.content_text h4:hover,
.content_text h5:hover,
.content_text h6:hover {
  transform: translateX(20px);
}

.content_text h2:hover::after,
.content_text h3:hover::after,
.content_text h4:hover::after,
.content_text h5:hover::after,
.content_text h6:hover::after {
  color: var(--background_color);
}

.content_text h2::after,
.content_text h3::after,
.content_text h4::after,
.content_text h5::after,
.content_text h6::after {
  content: '\e604';
  position: absolute;
  top: 2px;
  left: 0;
  color: var(--hover_color);
  transition: all 0.5s;
  font-family: 'yufont' !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content_text p {
  line-height: 2;
  font-size: 1.1rem;
  word-break: break-all;
}

.content_text ol {
  margin-left: 30px;
  list-style: decimal;
}

.content_text ol > li {
  list-style: unset;
}

.content_text img {
  max-width: 100%;
  height: auto;
}

.content_text pre {
  word-break: break-word;
  overflow-x: auto;
}

pre.prettyprint {
  display: block;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

pre .nocode {
  background-color: none;
  color: #000;
}

pre .str {
  color: #ffa0a0;
}

pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}

pre .com {
  color: #87ceeb;
}

pre .typ {
  color: #98fb98;
}

pre .lit {
  color: #cd5c5c;
}

pre .pun {
  color: #fff;
}

pre .pln {
  color: #fff;
}

pre .tag {
  color: #f0e68c;
  font-weight: bold;
}

pre .atn {
  color: #bdb76b;
  font-weight: bold;
}

pre .atv {
  color: #ffa0a0;
}

pre .dec {
  color: #98fb98;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: decimal;
}

@media print {
  pre.prettyprint {
    background-color: none;
  }

  pre .str,
  code .str {
    color: #060;
  }

  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }

  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }

  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }

  pre .lit,
  code .lit {
    color: #044;
  }

  pre .pun,
  code .pun {
    color: #440;
  }

  pre .pln,
  code .pln {
    color: #000;
  }

  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }

  pre .atn,
  code .atn {
    color: #404;
  }

  pre .atv,
  code .atv {
    color: #060;
  }
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}

.article-copyright,
.article_down {
  position: relative;
  padding: 15px 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
  clear: both;
  overflow: hidden;
}

.article_tags {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #f4f4f4;
}

.article_tags > span {
  display: inline-block;
  height: 30px;
  line-height: 36px;
  margin-right: 10px;
  color: #666;
}

.article_tags > a {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  height: 30px;
  padding: 0 12px;
  font-size: 1rem;
  border-radius: 4px;
  color: #0084ff;
}

.article_tags > a::before {
  content: '#';
  position: absolute;
  left: 0px;
}

.article_tags > a:hover {
  opacity: 0.7;
}

/* 上下翻页 */

.page_turning {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.page_turning > a {
  width: 48%;
  display: block;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.page_turning .inner > span {
  color: #ccc;
  font-size: 1.1rem;
}

.page_turning .inner > p {
  font-size: 1.05rem;
}

.page_turning > a > .inner {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.page_turning .page_down > .inner {
  align-items: flex-end;
}

/*  */
.relevant_article {
  margin-top: 20px;
  background-color: #fff;
}

.relevant_article .relevant_header {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.relevant_header .title .icon-biaoqian {
  font-size: 22px;
  color: var(--background_color);
}

.relevant_header .line {
  flex: 1;
  position: relative;
  height: 1px;
  background-color: #ccc;
  opacity: 0.5;
}

.relevant_header .icon {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.relevant_header .icon::before {
  content: '\e61a';
  position: absolute;
  left: 2px;
  z-index: 2;
  color: #ccc;
  font-size: 14px;
}

.relevant_article .article_items {
  box-shadow: 0 0 5px 0 #ececec;
}
.highlight pre {
  border-radius: 0 !important;
  margin: 0 !important;
}

.content_text table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-collapse: collapse;
}
.content_text table th,
.content_text table td {
  border: 1px solid #ededed;
  padding: 6px 13px;
}
.content_text table code {
  background-color: #f7f7f9;
  padding: 0.2em, 0.4em;
  color: var(--hover_color);
}

/* 为了适配官方 代码高亮 */
/* TODO 兼容的不是很好 建议 不使用官网的 */
.highlight td {
  display: table-cell !important;
}

.highlight td.gutter {
  min-width: 40px;
  width: 40px;
  max-width: 100%;
}
