* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --global_bg: #f0f2f5;
  --global_color: #616161;
  --global_size: 16px;
  --hover_color: #FD77B2;
  --background_color: #006eff;
  --text_bg_hover: rgba(73, 177, 245, 0.7);
  --linear_gradient: linear-gradient(90deg, #006eff, #13adff);
  --navbar-text-color: #d0d0d0;
}

/* 浏览器滚动条 */
::-webkit-scrollbar-thumb {
  background-color: #006eff;
  border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #006eff
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 0
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Segoe UI, Arial, sans-serif;
  font-size: var(--global_size);
  line-height: 1.5;
  color: var(--global_color);
  background-color: var(--global_bg);

}

body.hide {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--global_color);
}

a:hover {
  color: var(--hover_color);
}

body {
  cursor: url(http://wl.aidezy.com/MacOS.cur), auto;
}

a,
a:hover,
a:link,
a:visited {
  cursor: url(http://wl.aidezy.com/link.cur), pointer;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

input,
textarea {
  outline: none;
  border: 1px solid var(--global_color);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid var(--hover_color);
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-image: var(--linear_gradient);
  border: none;
  color: #fff;
}

button:hover {
  opacity: .8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.yu13_clamp_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yu13_clamp_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.yu13_p_10 {
  padding: 0 10px;
}

.yu13_p_30 {
  padding: 0 30px;
}

.yu13_card_5 {
  width: calc(20% - 20px);
  float: left;
  margin: 5px 10px;
}

.yu13_card_4 {
  width: calc(25% - 20px);
  float: left;
  margin: 5px 10px;
}

.yu13_hot_card {
  width: calc(25% - 20px);
  margin: 0 10px;
  margin-bottom: 25px
}

.yu13_cursor {
  cursor: pointer;
}

.yu13_hover {
  opacity: 1;
  cursor: pointer;
}

.yu13_hover:hover {
  opacity: .7;
}

.yu13_text_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yu13_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background: #20a0ff;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #20a0ff, #20b8ff);
  box-shadow: 0 3px 5px rgb(32 160 255 / 50%);
  transition: all .3s;
}

.yu13_btn:hover {
  opacity: .8;
}

.yu13_img_rotate {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.yu13_img_rotate:hover {
  transform: rotate(360deg);
}

.yu13_translatey_3 {
  transition: all .3s;
}

.yu13_translatey_3:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}



/* animation: fade-in .5s; */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
header z-idnex 1
mobile_mask z-index 98
mobile_nav_box z-index 99
*/