@media (max-width:1200px) {
  html {
    font-size: 16px;
  }

  .page_turning {
    flex-direction: column;
  }

  .page_turning>a {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width:992px) {
  html {
    font-size: 14px;
  }

  .header_nav {
    display: none;
  }

  .header_right .mobile_menu {
    display: block;
  }

  .yu13_card_5 {
    width: 30%;
  }

  .yu13_card_4 {
    width: calc(33% - 20px);
  }

  .yu13_hot_card {
    width: calc(33% - 20px);
  }

  .page_article_item {
    flex-direction: column;
    height: auto;
    padding-bottom: 12px;
  }

  .page_article_item .page_item_left,
  .page_item_info {
    width: 100%;
  }

  .page_article_item .page_item_left {
    height: 230px;
  }

  .page_item_info .title {
    margin-top: 10px;
  }

  .home_bg_container {
    flex-direction: column;
    justify-content: center;
  }

  .home_bg_container>div {
    width: 100%;
    margin: 40px 0;
  }

  .home_bg_container .left_info .goto_btn {
    justify-content: center;
  }

  .home_bg_container .right_icon {
    display: none;
  }
}


@media (max-width:768px) {
  html {
    font-size: 14px;
  }

  .yu13_card_5 {
    width: 30%;
  }

  .yu13_card_4 {
    width: calc(33% - 20px);
  }

  .yu13_hot_card {
    width: calc(33% - 20px);
  }

  .header {
    padding: 0 10px;
  }

  .article_bottom {
    display: none;
  }

  .log_container .article_main {
    margin: 0 10px;
  }

  .log_container .article_sidebar {
    display: none;
  }

}

@media (max-width:600px) {
  html {
    font-size: 14px;
  }

  .yu13_card_5 {
    width: 45%;
  }

  .yu13_card_4 {
    width: calc(50% - 20px);
  }

  .yu13_hot_card {
    width: 95%;
  }

  .article_category .hot {
    display: none;
  }

  .login_container {
    width: 90%;
  }

  .article_meta .right {
    display: none;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }

  .yu13_card_5 {
    width: 44%;
  }

  .yu13_card_4 {
    width: calc(50% - 20px);
  }
}