@font-face {
  font-family: "yufont";
  /* Project id 3435803 */
  src: url('//at.alicdn.com/t/c/font_3435803_09z3et6me0ct.woff2?t=1661747215838') format('woff2'),
    url('//at.alicdn.com/t/c/font_3435803_09z3et6me0ct.woff?t=1661747215838') format('woff'),
    url('//at.alicdn.com/t/c/font_3435803_09z3et6me0ct.ttf?t=1661747215838') format('truetype');
}

.yufont {
  font-family: "yufont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-cundang:before {
  content: "\e77b";
}

.icon-pinglun:before {
  content: "\e605";
}

.icon-zuixingengxin:before {
  content: "\e61e";
}

.icon-line-archivecundang:before {
  content: "\e6a1";
}

.icon-24gl-folderOpen:before {
  content: "\eabe";
}

.icon-lianjie:before {
  content: "\e604";
}

.icon-iconfontgerenzhongxin8:before {
  content: "\e609";
}

.icon-dianpuguanli:before {
  content: "\e685";
}

.icon-ziyuan:before {
  content: "\e643";
}

.icon-lingdang:before {
  content: "\e612";
}

.icon-yingyong:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-feiji:before {
  content: "\e90a";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

.icon-zhuye:before {
  content: "\e64e";
}

.icon-rili:before {
  content: "\e62a";
}

.icon-shijian:before {
  content: "\e600";
}

.icon-fenleiorguangchangorqitatianchong:before {
  content: "\e67d";
}

.icon-huojian:before {
  content: "\e615";
}

.icon-biaoqian:before {
  content: "\e67e";
}

.icon-liulan:before {
  content: "\e7a5";
}

.icon-tag:before {
  content: "\e629";
}

.icon-jiantoushang:before {
  content: "\e619";
}

.icon-jiantouxia:before {
  content: "\e61a";
}

.icon-jiantouyou:before {
  content: "\e61b";
}

.icon-jiantouzuo:before {
  content: "\e61c";
}

.icon-caidan:before {
  content: "\e61d";
}

.icon-sousuo:before {
  content: "\e62f";
}