.sidebar_tags.sidebar_container
  h3.sidebar_title
    i.yufont.icon-24gl-folderOpen
    = '分类'
  .archive_lists
    ul.category-list
      if site.categories.length
        each value, index  in site.categories.data 
          li
            a(href=url_for(value.path))=  value.name+' ('+value.posts.length+')'


  